Flow1.json
[{"id":"6e22840c.3a97cc","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"127c45ec.24960a","type":"switch","z":"6e22840c.3a97cc","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":320,"wires":[["855c2f02.88a75"],["fcdc71f4.1b8a4"]]},{"id":"2223d3e8.536d2c","type":"rpi-gpio in","z":"6e22840c.3a97cc","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":70,"y":340,"wires":[["759565e9.89ae6c","127c45ec.24960a"]]},{"id":"c703f28a.dd8b2","type":"rpi-gpio out","z":"6e22840c.3a97cc","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":840,"y":380,"wires":[]},{"id":"855c2f02.88a75","type":"change","z":"6e22840c.3a97cc","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":300,"wires":[["c703f28a.dd8b2"]]},{"id":"fcdc71f4.1b8a4","type":"change","z":"6e22840c.3a97cc","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["c703f28a.dd8b2"]]},{"id":"759565e9.89ae6c","type":"debug","z":"6e22840c.3a97cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":220,"wires":[]}]
