Flow2.json
[{"id":"c98c7107.82895","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3cb71ceb.489da4","type":"inject","z":"c98c7107.82895","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["29f48bba.7544f4"]]},{"id":"29f48bba.7544f4","type":"function","z":"c98c7107.82895","name":"Payload","func":"msg.headers={\n    deviceKey:\"FZt7v6EQaZfIBOpv\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["71831e07.2bd47"]]},{"id":"172b4405.ba88ac","type":"http response","z":"c98c7107.82895","name":"","statusCode":"","headers":{},"x":680,"y":200,"wires":[]},{"id":"65e6c8b7.0c49f8","type":"debug","z":"c98c7107.82895","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":260,"wires":[]},{"id":"71831e07.2bd47","type":"http request","z":"c98c7107.82895","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DD2af62t/datachannels/Temperature/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":200,"wires":[["172b4405.ba88ac","65e6c8b7.0c49f8"]]}]
