Flow5.json
[{"id":"a310294b.fb5b18","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"ba770a03.580598","type":"http in","z":"a310294b.fb5b18","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":160,"wires":[["65621d8e.f123a4","6e263ce8.a49514"]]},{"id":"65621d8e.f123a4","type":"function","z":"a310294b.fb5b18","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["259ceef2.252492"]]},{"id":"259ceef2.252492","type":"rpi-gpio out","z":"a310294b.fb5b18","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":780,"y":320,"wires":[]},{"id":"6e263ce8.a49514","type":"function","z":"a310294b.fb5b18","name":"Return Status","func":"msg.payload = \"Set GPIO5 to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["45fb3c04.88c824","dbebdb9f.08cb88"]]},{"id":"25e19b50.7d40c4","type":"http in","z":"a310294b.fb5b18","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":440,"wires":[["f8eccbf4.783638","ba4ddec6.edb2c"]]},{"id":"f8eccbf4.783638","type":"function","z":"a310294b.fb5b18","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["259ceef2.252492"]]},{"id":"ba4ddec6.edb2c","type":"function","z":"a310294b.fb5b18","name":"Return Status","func":"msg.payload = \"Set GPIO5 to Low\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["45fb3c04.88c824","dbebdb9f.08cb88"]]},{"id":"45fb3c04.88c824","type":"debug","z":"a310294b.fb5b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":420,"wires":[]},{"id":"dbebdb9f.08cb88","type":"http response","z":"a310294b.fb5b18","name":"","statusCode":"","headers":{},"x":850,"y":140,"wires":[]}]
