Flow3.json
[{"id":"e06c5d8f.fa161","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"14a677fd.9e6e88","type":"inject","z":"e06c5d8f.fa161","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":100,"wires":[["3cc98900.e8ade6"]]},{"id":"3cc98900.e8ade6","type":"function","z":"e06c5d8f.fa161","name":"Payload","func":"msg.headers={\n    deviceKey: \"Hjh0NUgSc8LqOQeN\"\n    };\nmsg.payload = \"Temperature,,25.3\";\nmsg.payload = \"humidity,,30\"\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":200,"wires":[["795c7c2b.674ff4"]]},{"id":"795c7c2b.674ff4","type":"http request","z":"e06c5d8f.fa161","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DD2af62t/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":200,"wires":[["bccc14c8.110328","896108d4.6d2b38"]]},{"id":"bccc14c8.110328","type":"http response","z":"e06c5d8f.fa161","name":"","statusCode":"","headers":{},"x":620,"y":220,"wires":[]},{"id":"896108d4.6d2b38","type":"debug","z":"e06c5d8f.fa161","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":320,"wires":[]}]
